<%- include("partials/header") -%>

<h1>cart</h1>
<br>
<h3>Outlet: <%= outlet %></h3>
<h4>total: <%= carttotal %></h4>
<br>
<% cart.forEach(function(item){ %>
  <div class="jumbotron">
      Item: <%= item.name %> , Price: <%= item.price %>, Quantity: <%= item.quantity %>
      <a class="btn btn-outline-dark" href="/delete/<%= item._id %>" role="button">Remove</a>
  </div>
<% }); %>

<br>
<form action="/placeorder" method="post">
  <p>
  <label for="block">Payment Method</label>
  <select class="custom-select" id="block" name="payment">
    <option value="Paytm">Paytm</option>
    <option value="Cash">Cash</option>
  </select></p>
  <input type="submit" class="btn btn-lg btn-outline-danger" value="Place order">
</form>


<%- include("partials/footer") -%>
