<%- include("partials/header") -%>

<div class="centered">
  <h2>Welcome <%= user.name %></h2>
</div>
<br><br>



<div class="row">
  <% outletList.forEach(function(outlet){ %>
  <div class="col-lg-4 col-md-6 col-sm-12">
    <div class="card text-center">
      <div class="card-body">
        <h5 class="card-title card-centered"><%= outlet.name %></h5>
        <a class="btn btn-outline-light" href="/menu/<%= outlet._id %>">Menu</a>
      </div>
    </div>
  </div>
  <% }); %>
</div>




<%- include("partials/footer") -%>
