<%- include("partials/header") -%>


<h1><%= outletName %> Menu </h1>

<div class="row">
  <div class="col-sm-12">
    <div class="card menu-card">
      <div class="card-body">
        <form action="/menu/<%= outletId %>" method="POST">
          <% (menu.item).forEach(function(item){%>
          <div class="menu-q">
            <strong><%= item.name %></strong>  <span class="price">Rs. <%= item.price %></span>
            <select name="<%= item.name %>" class="num-in">
              <option value="0">0</option>
              <option value="1">1</option>
              <option value="2">2</option>
              <option value="3">3</option>
              <option value="4">4</option>
              <option value="5">5</option>
            </select>
          </div>
          <br>
          <% }); %>
          <input class="btn btn-dark" type="submit" value="Add to Cart">
        </form>
      </div>
    </div>
  </div>
</div>


<%- include("partials/footer") -%>
