<%- include("partials/header") -%>


<h1><%= outletName %> Menu </h1>

<div class="row">
  <div class="col-sm-12">
    <div class="card menu-card">
      <div class="card-body">
        <form action="/menu/<%= outletId %>" method="POST">
          <% (menu.item).forEach(function(item){%>
          <div class="menu-q">
            <strong><%= item.name %></strong>  <span class="price">Rs. <%= item.price %></span>
            <input class="num-in" type="number" name="<%= item.name %>" min="0" />
          </div>
          <br>
          <% }); %>
          <input class="btn btn-dark" type="submit" value="Add to Cart">
        </form>
      </div>
    </div>
  </div>
</div>


<%- include("partials/footer") -%>
