<%- include("partials/header") -%>

<div class="container mt-5">
  <h1><%= outletName %> Menu </h1>
  <h2></h2>
  <div class="row">
    <div class="col-sm-8">
      <div class="card">
        <div class="card-body">
          <form action="/menu/<%= outletId %>" method="POST">
            <% (menu.item).forEach(function(item){%>
            <strong><%= item.name %></strong> : Rs. <%= item.price %>
              <div class="mr-auto">
                <input type="number" name="<%= item.name %>" min="0">
              </div>
            <br>
            <% }); %>
            <input class="btn btn-dark" type="submit" value="Add to Cart">
          </form>
        </div>
      </div>
    </div>
  </div>
</div>

<%- include("partials/footer") -%>
