<%- include("partials/header") -%>

<h1><%= outlet.name %></h1>
<br>
<hr>
<h3>Your current orders will be displayed below</h3>
<br>
<% orders.forEach(function(order){ %>
<% if (order.status === "Placed") { %>
<% (order.item).forEach(function(item){ %>
  <ul>
    <li><%= item.name %> (Rs.<%= item.price %>)</li>
    <p>Quantity: <%= item.quantity %></p>
  </ul>
<%  }); %>
<p><strong>Total:</strong> <%= order.total %></p>
<p><strong>Payment Method:</strong> <%= order.payment %></p>
<strong>Customer Details:</strong>
<ul>
  <li><%= order.name %></li>
  <li><%= order.userPhone %></li>
  <li><%= order.block %>-<%= order.room %></li>
</ul>
<a class="btn btn-success" href="/order/<%= order._id %>/accept" role="button">Accept</a>
<a class="btn btn-danger" href="/order/<%= order._id %>/reject" role="button">Reject</a>
<br>
<hr>
<% } else if(order.status === "Accepted") { %>
<% (order.item).forEach(function(item){ %>
  <ul>
    <li><%= item.name %> (Rs.<%= item.price %>)</li>
    <p>Quantity: <%= item.quantity %></p>
  </ul>
<%  }); %>
<p>Total: <%= order.total %></p>
Customer Details:
<ul>
  <li><%= order.name %></li>
  <li><%= order.userPhone %></li>
  <li><%= order.block %>-<%= order.room %></li>
</ul>
<a class="btn btn-warning" href="/order/<%= order._id %>/dispatch" role="button">Out for Delivery</a>
<br>
<hr>
<% } else if(order.status === "Dispatched") { %>
<% (order.item).forEach(function(item){ %>
  <ul>
    <li><%= item.name %> (Rs.<%= item.price %>)</li>
    <p>Quantity: <%= item.quantity %></p>
  </ul>
<%  }); %>
<p>Total: <%= order.total %></p>
Customer Details:
<ul>
  <li><%= order.name %></li>
  <li><%= order.userPhone %></li>
  <li><%= order.block %>-<%= order.room %></li>
</ul>
<a class="btn btn-warning" href="/order/<%= order._id %>/delivered" role="button">Delivered</a>
<br>
<hr>
<% } %>
<% }); %>

<%- include("partials/footer") -%>
