<%- include("partials/header") -%>

<h1><%= outlet.name %></h1>
<h3>Your previous orders will be displayed below</h3>
<hr>
<br>

<% orders.forEach(function(order){ %>
  <% if (order.status === "Delivered" || order.status === "Rejected") { %>
    <h5><strong><%= order.status %></strong></h5>
    <strong>Customer Details:</strong>
    <ul>
      <li><%= order.name %></li>
      <li><%= order.userPhone %></li>
      <li><%= order.block %>-<%= order.room %></li>
    </ul>
    <p><strong>Total:</strong> <%= order.total %></p>
    <p><strong>Payment Method:</strong> <%= order.payment %></p>
    <% (order.item).forEach(function(item){ %>
      <ul>
        <li><%= item.name %> (Rs.<%= item.price %>)</li>
        <p>Quantity: <%= item.quantity %></p>
      </ul>
    <%  }); %>
    <p><strong>Ordered On:</strong> <%= order.createdAt %></p>
    <hr><br>
  <% } %>
<% }); %>

<%- include("partials/footer") -%>
